main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

h1,p{color: orangered;}

img,nav{box-shadow: 10px 5px 5px black;}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

li{list-style-type: none;}

footer{
  border: thin solid black;
}
